# Auto detect text files and perform LF normalization
* text=auto
*.java linguist-language=Java
*.gradle linguist-language=Groovy
*.kts linguist-language=Kotlin
*.sql linguist-language=SQL
gradlew linguist-detectable=false
